<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adonai Associates | Contact</title>
    <meta name="author" content="Adonai Associates | Contact">
    <meta name="description" content="Adonai Associates | Contact">
    <meta name="keywords" content="Adonai Associates | Contact">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/img/adonai/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/adonai/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/adonai/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/adonai/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;family=Outfit:wght@100..900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">
    <div class="cursor-follower"></div>
    <div class="slider-drag-cursor"><i class="fas fa-angle-left me-2"></i> DRAG <i class="fas fa-angle-right ms-2"></i>
    </div>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="mb-4"><img src="/img/adonai/logo.png" alt="img"></div>
        </div>
    </div>
    <div class="th-menu-wrapper onepage-nav">
        <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="/"><img src="/img/adonai/logo.png" alt="adonaiAssosciates"></a></div>
            <div class="th-mobile-menu allow-natural-scroll">
                <ul>
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/services">Service</a>
                    </li>
                    <li><a href="/projects">Projects</a>

                    </li>

                    <li><a href="/blogs">Blogs</a>
                    </li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="sidemenu-wrapper sidemenu-info d-none d-lg-block">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget">
                <div class="th-widget-about">
                    <div class="about-logo">
                        <a href="/">
                            <img src="/img/adonai/logo.png" alt="Adonai Associates">
                        </a>
                    </div>
                    <p class="about-text">
                        <strong>Adonai Associates</strong> is your trusted partner for construction, real estate, and
                        interior design services in Kerala. We deliver quality solutions for residential and commercial
                        projects, including building permit plans, 3D elevation design, and aluminium fabrication.
                        Serving Trivandrum, Kollam, Pathanamthitta, Thiruvalla, and beyond.
                    </p>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Get In Touch</h3>
                <div class="th-widget-contact">
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/location-dot.svg" alt="Location"></div>
                        <div class="details">
                            <p>Adonai Associates,</p>
                            <p>Thiruvalla, Pathanamthitta, Kerala, India</p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/phone.svg" alt="Phone"></div>
                        <div class="details">
                            <p>
                                <a href="tel:+919605835574" class="info-box_link">+91 96058 35574</a>
                            </p>
                            <p>
                                <a href="tel:+917034035574" class="info-box_link">+91 70340 35574</a>
                            </p>
                        </div>
                    </div>
                    <div class="info-box_text">
                        <div class="icon"><img src="/img/icon/envelope.svg" alt="Email"></div>
                        <div class="details">
                            <p>
                                <a href="mailto:adonaiassociatesdb@gmail.com"
                                    class="info-box_link">adonaiassociatesdb@gmail.com</a>
                            </p>
                            <p>
                                <a href="mailto:adonaassociatess@gmail.com"
                                    class="info-box_link">adonaassociatess@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <header class="th-header header-default">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="/"><img src="/img/adonai/logo.png" alt="adonaiAssosciates"
                                        class="Adonai_logo"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li><a href="/services">Services</a>
                                    </li>
                                    <li><a href="/about">About Us</a></li>

                                    <li><a href="/projects">Projects</a>
                                    </li>
                                    <li><a href="/blogs">Blog</a>
                                    </li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </nav>
                            <div class="header-button d-flex d-lg-none"><button type="button"
                                    class="th-menu-toggle sidebar-btn bg-transparent"><span class="line"></span> <span
                                        class="line"></span> <span class="line"></span></button></div>
                        </div>
                        <div class="col-auto d-none d-xxl-block">
                            <div class="header-button"><a href="tel:+917034035574"
                                    class="th-btn style4 th-btn-icon">Call
                                    Now</a> <button type="button"
                                    class="simple-icon sideMenuInfo sidebar-btn style2"><span class="line"></span> <span
                                        class="line"></span> <span class="line"></span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="breadcumb-overlay" data-bg-src="/img/bg/breadcumb-bg-overlay.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Contact Us</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="/">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space" id="contact-sec">
        <div class="contact-bg-shape1-1 jump shape-mockup" data-bottom="30%" data-left="2%"><img
                src="/img/shape/section_shape_2_3.jpg" alt="img"></div>
        <div class="container">
            <div class="row gx-35">
                <div class="col-lg-5">
                    <div class="title-area">
                        <h2 class="sec-title">Contact Information</h2>
                        <p>
                            Reach out to <strong>Adonai Associates</strong> for all your construction, renovation, and interior design needs in Kerala. We are here to answer your questions and provide expert guidance for your next project.
                        </p>
                    </div>
                    <div class="about-contact-grid">
                        <div class="about-contact-icon text-white"><img src="/img/icon/location-dot.svg"
                                alt="icon"></div>
                        <div class="about-contact-details">
                            <h6 class="about-contact-details-title">Location:</h6>
                            <p class="about-contact-details-text">S.P Villa , Meppukada </p>
                            <p class="about-contact-details-text">Malayinkeezhu P.O , Trivandrum , Kerala 695571</p>
                        </div>
                    </div>
                    <div class="about-contact-grid">
                        <div class="about-contact-icon text-white"><img src="/img/icon/phone.svg" alt="icon">
                        </div>
                        <div class="about-contact-details">
                            <h6 class="about-contact-details-title">Phone:</h6>
                            <p class="about-contact-details-text"><a href="tel:+917034035574">+91 7034035574</a></p>
                            <p class="about-contact-details-text"><a href="tel:+91 9605835574">+91 9605835574</a></p>
                        </div>
                    </div>
                    <div class="about-contact-grid">
                        <div class="about-contact-icon text-white"><img src="/img/icon/envelope.svg" alt="icon">
                        </div>
                        <div class="about-contact-details">
                            <h6 class="about-contact-details-title">Email:</h6>
                            <p class="about-contact-details-text"><a
                                    href="mailto:adonaassociatess@gmail.com">adonaassociatess@gmail.com</a></p>
                            <p class="about-contact-details-text"><a
                                    href="mailto:adonaiassociatesdb@gmail.com">adonaiassociatesdb@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-map contact-sec-map">
            <div class="contact-map"><iframe
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=S.P%20Villa%20,%20Meppukada%20,Malayinkeezhu%20P.O%20,%20Trivandrum%20,%20Kerala%20695571+(Adonaiassociates)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    allowfullscreen="" loading="lazy"></iframe></div>
            <div class="location-map-address">
                <div class="thumb"><img src="/img/property/property_inner_1.jpg" alt="img"></div>
                <div class="media-body">
                    <h4 class="title">Address:</h4>
                    <p class="text">S.P Villa , Meppukada Malayinkeezhu P.O , Trivandrum , Kerala </p>
                    <h4 class="title">Post Code:</h4>
                    <p class="text">695571</p>
                </div>
            </div>
        </div>
    </div>
    <div class="space contact-area-5 z-index-common" id="contact-sec">
        <div class="contact-thumb6-1"><img src="/img/normal/contact_thumb_6_1.png" alt="img"></div>
        <div class="container">
            <div class="row gx-60 gy-60 justify-content-end">
                <div class="col-lg-6">
                    <div class="appointment-wrap contact-wrap6">
                        <h2 class="form-title fw-semibold mb-35">Get in Touch</h2>
                        <form id="whatsapp-contact-form" class="appointment-form">
                            <div class="row">
                                <div class="form-group style-border2 style-radius col-lg-6">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name*" required>
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="form-group style-border2 style-radius col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email*" required>
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="form-group style-border2 style-radius col-lg-6">
                                    <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="Your Mobile Number*" pattern="[0-9]{10,15}" required>
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="form-group style-border2 style-radius col-lg-6">
                                    <select name="service" id="service" class="form-select" required>
                                        <option value="" disabled selected hidden>Select Service Type</option>
                                        <option value="Civil Construction">Civil Construction</option>
                                        <option value="Welding & Fabrication">Welding & Fabrication</option>
                                        <option value="Aluminium Works">Aluminium Works</option>
                                        <option value="Interior Design">Interior Design</option>
                                        <option value="Landscaping & Outdoor">Landscaping & Outdoor</option>
                                        <option value="Real Estate">Real Estate</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Residencial">Residencial</option>
                                        <option value="Deluxe">Deluxe</option>
                                    </select>
                                    <i class="fal fa-angle-down"></i>
                                </div>
                                <div class="col-12 form-group style-border2 style-radius">
                                    <i class="far fa-comments"></i>
                                    <textarea placeholder="Type Your Message" class="form-control" id="message" name="message" required></textarea>
                                </div>
                                <div class="col-12 form-btn">
                                    <button type="submit" class="th-btn style4">Send via WhatsApp
                                        <span class="btn-icon"><img src="/img/icon/paper-plane.svg" alt="img"></span>
                                    </button>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3" id="whatsapp-form-message"></p>
                        </form>
                        <script>
                        document.getElementById('whatsapp-contact-form').addEventListener('submit', function(e) {
                            e.preventDefault();
                            var name = document.getElementById('name').value.trim();
                            var email = document.getElementById('email').value.trim();
                            var mobile = document.getElementById('mobile').value.trim();
                            var service = document.getElementById('service').value;
                            var message = document.getElementById('message').value.trim();

                            var whatsappNumber = '917034035574';
                            var text = 
                                '*New Contact Form Submission*%0A' +
                                '*Name:* ' + encodeURIComponent(name) + '%0A' +
                                '*Email:* ' + encodeURIComponent(email) + '%0A' +
                                '*Mobile:* ' + encodeURIComponent(mobile) + '%0A' +
                                '*Service Type:* ' + encodeURIComponent(service) + '%0A' +
                                '*Message:* ' + encodeURIComponent(message);

                            var whatsappUrl = 'https://wa.me/' + whatsappNumber + '?text=' + text;

                            window.open(whatsappUrl, '_blank');
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-wrapper footer-layout2 bg-white">
        <div class="container">
            <div class="footer-wrap">
                <div class="widget-area">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-xl-4">
                            <div class="widget footer-widget">
                                <div class="th-widget-about">
                                    <div class="about-logo"><a href="/"><img src="/img/adonai/logo.png"
                                                alt="adonaiAssosciates"></a></div>
                                    <p class="about-text">Adonai Associates is Kerala’s trusted construction,
                                        renovation, and interior solutions company. We deliver quality civil works,
                                        aluminium fabrication, welding, landscaping, and custom interiors for homes and
                                        businesses across Trivandrum, Kollam, Pathanamthitta, and Thiruvalla.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget footer-widget">
                                <h3 class="widget_title">Get In Touch</h3>
                                <div class="th-widget-contact">
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/location-dot.svg" alt="img"></div>
                                        <div class="details">
                                            <p>Trivandrum</p>
                                            <p>Kerala , India</p>
                                        </div>
                                    </div>
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/phone.svg" alt="img"></div>
                                        <div class="details">
                                            <p><a href="tel:+917034035574" class="info-box_link">+91 7034035574</a></p>
                                            <p><a href="tel:+919605835574" class="info-box_link">+91 9605835574</a></p>
                                        </div>
                                    </div>
                                    <div class="info-box_text">
                                        <div class="icon"><img src="/img/icon/envelope.svg" alt="img"></div>
                                        <div class="details">
                                            <p><a href="mailto:adonaassociatess@gmail.com"
                                                    class="info-box_link">adonaassociatess@gmail.com</a></p>
                                            <p><a href="mailto:adonaiassociatesdb@gmail.com"
                                                    class="info-box_link">adonaiassociatesdb@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Useful Link</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Explore</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                        <li><a href="/services">Civil Construction</a></li>
                                        <li><a href="/services">Welding & Fabrication</a></li>
                                        <li><a href="/services">Aluminium Works</a></li>
                                        <li><a href="/services">Interior Design</a></li>
                                        <li><a href="/services">Landscaping & Outdoor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-title-dark">
            <div class="container">
                <div class="row gy-2 align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">
                            &copy; adonaiassociates. Designed and developed by 
                            <a href="https://jijomonjs.xyz/" target="_blank" rel="noopener">JSCoders</a>
                        </p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end">
                        <div class="footer-links">
                            <ul>
                                <li><a href="/contact">Terms of service</a></li>
                                <li><a href="/contact">Privacy policy</a></li>
                                <li><a href="/contact">Cookies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
            </path>
        </svg></div>
    <script src="/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>