<!Doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Adonai|404 </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/img/arvies/footer-logo.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- all-CSS-link-here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" href="/css/flaticon_barsi.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body >
        <div class="main-wrapper wa-fix">

            <!-- start preloader -->
             <div class="lw-preloader">
               <div class="loader"><img src="/img/arvies/footer-logo.png" alt="arvies"></div>
            </div>
            <!-- end preloader -->

            <!-- header-start -->
     
            <!-- header-end -->

            <!-- error-page-start -->
            <section class="bs-error-page-area pt-160 pb-160">
                <div class="container bs-container-1">
                    <div class="bs-error-page-wrap" data-background="/img/illus/404-img.png">
                        <div class="bs-error-page-content">
                            <h4 class="bs-h-4 title-1 ">Oops!</h4>
                            <h4 class="bs-h-4 title-2 ">404 Error!</h4>
                            <p class="bs-p-4 disc">We can't find the page that you're looking for. Can't find what you need? Take a moment and search below!</p>

                            <a href="/" aria-label="name" class="bs-btn-1">
                                <span style="color: white;" class="text">
                                    back to home page
                                </span>
                                <span class="icon">
                                    <i class="fa-solid fa-right-long"></i>
                                    <i class="fa-solid fa-right-long"></i>
                                </span>
                                <span class="shape" ></span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- error-page-end -->

            <!-- footer-start -->
       
            <!-- footer-end -->

       

            </div>
            <div class="wa-overly"></div>
            <!-- offcanvas-end -->

            <!-- back-to-top-button-start -->
            <div class="wa-back-to-top ">
                <span class="wa-back-to-top-text">Top</span>
            </div>
            <!-- back-to-top-button-end -->


        </div>



		<!-- all-JS-link-here -->
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/swiper-bundle.min.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/magiccursor.js"></script>
        <script src="/js/nice-select.min.js"></script>
        <script src="/js/marquee.min.js"></script>
        <script src="/js/magnific-popup.min.js"></script>
        <script src="/js/SplitText.min.js"></script>
        <script src="/js/gsap.min.js"></script>
        <script src="/js/CustomEase.min.js"></script>
        <script src="/js/counterup.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/lenis.min.js"></script>
        <script src="/js/ScrollTrigger.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>

